.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  /* background-color: blanchedalmond; */
}

.holder {
  display: block;
  margin: auto;
  width: fit-content;
  background-color: rgb(223, 253, 198);
}
.icon {
  margin: auto;
  margin-top: 15px;
  margin-left: 27px;
}
.wt {
  color: white;
}
.bl {
  color: black;
}
.cc {
  color: blue;
}
.w {
  /* background-color: rgb(223, 253, 198); */
  background-color: rgb(172, 250, 109);
}
.b {
  /* background-color: rgb(146, 219, 78); */
  background-color: rgb(100, 187, 19);
}
#w {
  /* color: rgb(223, 253, 198); */
  color: rgb(172, 250, 109);
}
#b {
  /* color: rgb(146, 219, 78); */
  color: rgb(100, 187, 19);
}
.highlight_from {
  background-color: rgb(208, 255, 0);
}
button {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: large;
  background-color: rgb(10, 198, 255);
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
}
.killContainer {
  display: block;
  margin: auto;
  border-style: solid;
  border-radius: 5px;
  width: 800px;
  background-color: cornflowerblue;
  border-radius: 10px;
  margin-top: 10px;
}
.killArea {
  width: 90%;
  font-size: large;
  border-style: dotted;
  padding: 1em;
  margin: 0.5em;
  border-radius: 8px;
}
.ttle {
  color: black;
  padding: 0.3em;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}
.kill {
  margin-left: 5px;
  margin-right: 5px;
}
#white {
  color: white;
}
#black {
  color: black;
}
